:link {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
}

:link:visited {
  color: inherit;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  flex-direction: column;
}

@font-face {
  font-family: "LineAwesome";
  src: url(/public/LineAwesome/fonts/line-awesome.ttf) format("truetype");
}