:root {
  --primary: #495373;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

:link {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
}

:link:visited {
  color: inherit;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  color: white;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  background-color: darkslategray;
  background-image: url("1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button.action-primary {
  padding: 10px;
  background-color: var(--primary);
  color: white;
  font-family: sans-serif;
}

button.action-secondary {
  background-color: white;
  color: var(--primary);
}

button {
  font-weight: bold;
  font-size: 1em;
}

input {
  font-size: 1em;
}
