.Chat {
  color: black;
  background-color: rgba(255,255,255,.8);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Chat .chatLog {
  flex-basis: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.Chat footer {
  display: flex;
  flex-shrink: 0;
}
.Chat footer > textarea {
  flex-grow: 1;
}
