.Message {
  border-top: 3px solid var(--primary);
  border-right: 3px solid var(--primary);
  border-radius: 1.1em;
  display: flex;
  margin: .5em 1em;
  flex-basis: auto;
  min-height: min-content;
}

.Message > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  color: white;
  padding: .5em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
}

.Message > span {
  white-space: pre-line;
  text-align: left;
  word-break: break-word;
  padding: .25em .5em 0;
}

.Message img {
  max-height: 3em;
}

.Message.self {
  flex-direction: row-reverse;
  border-right: none;
  border-left: 3px solid var(--primary);
}

.Message.self > div {
  border-top-left-radius: 0;
  border-top-right-radius: 1em;
}
