.settings {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.settings-main {
    position:fixed;
    min-width: 300px;
    width: 75vw;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#exit {
    position: absolute;
    top: 0;
    right: 0;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.theme-select {
    width: 15%;
    height: auto;
}

#gray-x-icon {
    width: 10%;
    height: 10%;
}