.Start {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.Start > * {
  margin: 5px 0;
  box-sizing: border-box;
  width: 70vw;
  max-width: 300px;
  vertical-align: middle;
  overflow: hidden;
}

.Start > div {
  display: flex;
  justify-content: space-between;
}

.Start > div > input {
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
